<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-lg-4 col-xs-12">
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>150<sup style="font-size: 20px">INR</sup></h3>
              <p>Balance</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xs-6">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>53<sup style="font-size: 20px">INR</sup></h3>
              <p>Profit</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xs-6">
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65<sup style="font-size: 20px">INR</sup></h3>
              <p>Loss</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

