<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>
    <section class="content">
      <div class="row" style="text-align: center">
        <div class="col-lg-4 col-xs-12">
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>{{balance}}<sup style="font-size: 20px"> INR</sup></h3>
              <p>Balance</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 col-xs-12">
          <div class="small-box bg-black">
            <div class="inner">
              <div class="description-block border-right">
                  <span class="description-percentage" [ngClass]="(indices.ChangePercent > 0)?'text-green':'text-red'">
                    <i [ngClass]="(indices.ChangePercent > 0)?'fa fa-caret-up':'fa fa-caret-down'"></i> 
                    {{indices.ChangePercent}}%
                  </span>
                  <h2 class="description-header">{{indices.LastTradedPrice}}</h2>
                  <p class="description-text">NIFTY</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box visible-xs">
              <br>
                <canvas class="Chart1" responsive="true" height="250"></canvas>
              <br>
          </div>
          <div class="box hidden-xs">
            <br>
              <canvas class="Chart2" responsive="true" height="100"></canvas>
            <br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Top Gainers</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered customeTable">
                    <tr>
                      <th>Company</th>
                      <th>LTP</th>
                      <th>Change</th>
                    </tr>
                    <tr *ngFor="let x of nseGainer" class="text-success">
                      <td>{{x.ShortCompanyName}}</td>
                      <td>{{x.Price}}</td>
                      <td>{{x.Change}}</td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Top Losers</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Company</th>
                  <th>LTP</th>
                  <th>Change</th>
                </tr>
                <tr *ngFor="let x of nseLoser" class="text-danger">
                  <td>{{x.ShortCompanyName}}</td>
                  <td>{{x.Price}}</td>
                  <td>{{x.Change}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Most Active</h3>
              </div>
              <div class="box-body table-responsive">
                  <table class="table table-bordered table-stripped">
                      <tr>
                        <th class="hidden-xs">Symbol</th>
                        <th>Company</th>
                        <th class="hidden-xs">Prev Close</th>
                        <th>LTP</th>
                        <th class="hidden-xs">Change</th> 
                        <th class="hidden-xs">Percent Change</th>
                      </tr>
                      <tr *ngFor="let x of nseActive" [ngClass]="(x.Percent > 0)?'text-success':'text-danger'">
                        <td class="hidden-xs">{{x.CompanySymbol}}</td>
                        <td>{{x.CompanyName}}</td>
                        <td class="hidden-xs">{{x.PriviousClose}}</td>
                        <td>{{x.LastTradedPrice}}</td>
                        <td class="hidden-xs">{{x.PercentGain}}</td>
                        <td class="hidden-xs"> <i [ngClass]="(x.Percent > 0)?'fa fa-caret-up':'fa fa-caret-down'"></i> {{x.Percent}}%</td>
                      </tr>
                  </table>
              </div>
            </div>
          </div>
        </div>

    </section>
</div>

