<header class="main-header">
    <a class="logo">
        <span class="logo-mini"><b>T</b>ME</span>
        <span class="logo-lg"><b>Trade</b>ME</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a class="sidebar-toggle" data-toggle="push-menu" role="button">
        <!-- <a class="sidebar-toggle" data-toggle="offcanvas" role="button"> -->
        <!-- <a class="sidebar-toggle" data-toggle="collapse" role="button"> -->
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>