<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Analytics
      </h1>
    </section>
    <section class="content">
      <div class="row">
          <div class="col-md-12">
              <button type="submit" class="btn btn-primary" style="width: 100%" (click)="refreshAnalytics()">Refresh</button>
          </div>
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Up Trend</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered customeTable">
                    <tr>
                      <th>Company</th>
                      <th>LTP</th>
                      <th>Volume</th>
                      <th>LastTradedTime</th>
                      <th>Change</th>
                    </tr>
                    <tr *ngFor="let x of upTrend" class="text-success">
                      <td>{{x.ShortCompanyName}}</td>
                      <td>{{x.LastTradedPrice}}</td>
                      <td>{{x.Volume}}</td>
                      <td>{{x.LastTradedTime}}</td>
                      <td>{{x.ChangePercent}} %</td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Down Trend</h3>
            </div>
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Company</th>
                  <th>LTP</th>
                  <th>Volume</th>
                  <th>LastTradedTime</th>
                  <th>Change</th>
                </tr>
                <tr *ngFor="let x of downTrend" class="text-danger">
                  <td>{{x.ShortCompanyName}}</td>
                  <td>{{x.LastTradedPrice}}</td>
                  <td>{{x.Volume}}</td>
                  <td>{{x.LastTradedTime}}</td>
                  <td>{{x.ChangePercent}} %</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </section>
</div>

