<div class="content-wrapper">
    <section class="content-header">
        <h1>InPlay</h1>
    </section>
    <section class="content">
      <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">Trades</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                    <form class="form" [formGroup]="getStockForm" (ngSubmit)="getStockStatus()">
                        <div class="form-group">
                            <label for="stockList">stockList:</label>
                            <select id="stockList" [formControlName]="stockList" class="form-control select2" style="width: 100%;" data-placeholder="Select a Stock">
                                <!-- <option selected="selected" value="" disabled>x</option> -->
                                <option *ngFor="let item of stockList" [ngValue]="item.Symbol">{{item.Company}}</option>
                              </select>
                          </div>
                      
                          <button type="submit" class="btn btn-primary" >GO</button>
                        </form>
                </div>
                <div class="col-md-8">
                    <!-- Stocks status -->
                </div>
              </div>
            </div>
          </div>
    </section>
</div>
