<div class="content-wrapper">
    <section class="content-header">
        <h1>InPlay</h1>
    </section>
    <section class="content">
      <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">Trades</h3>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-md-4">
                  <select id="stockList" class="select2" style="width: 100%;" data-placeholder="Select a Stock">
                    <option selected value=""></option>
                    <option *ngFor="let item of stockList" value="{{item.Symbol}}">{{item.Name}}</option>
                  </select> &nbsp;&nbsp; <br>
                  <button  style="width: 100%;" class="btn btn-primary btn-sm" (click)="getStockStatus()">GO</button> <br>
              </div>
              <div class="col-md-8">
                <!-- <div *ngIf="selectedStock"> --><div>
                  <!-- <div class="box-header with-border">
                    <h3 class="box-title">{{selectedStock}}</h3>
                  </div> -->
                  <div class="col-md-12 table-responsive">
                      <table class="table table-bordered text-center">
                          <tr>
                            <th>Symbol</th>
                            <th>Price</th>
                            <th>Change</th>
                          </tr>
                          <tr>
                            <td>{{selectedStock}}</td>
                            <td>{{stockStatus.LastTradedPrice}}</td>
                            <td>{{stockStatus.Change}}</td>
                          </tr>
                      </table>
                  </div>
                  <div class="col-md-12 text-center">
                      <button class="btn btn-md btn-success" (click)="buy()">BUY</button> &nbsp;&nbsp;
                          <input id="quantity" type="text" class="forn-control" placeholder="Trade Quantity" style="width: 100px"> &nbsp;&nbsp; 
                      <button class="btn btn-md btn-danger" (click)="sell()">SELL</button> &nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-md-12">
                <div class="box-body table-responsive">
                  <table id="transactionBook" class="table table-bordered table-striped" >
                    <thead>
                    <tr>
                      <th>Symbol</th>
                      <th>Company</th>
                      <th>Call</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>CMP</th>
                      <th>Status</th>
                      <th>Net</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let t of tradeBook">
                        <td>{{t.symbol}}</td>
                        <td>{{t.company}}</td>
                        <td>{{t.call}}</td>
                        <td>{{t.price}}</td>
                        <td>{{t.quantity}}</td>
                        <td>{{t.cmp}}</td>
                        <td>{{t.status}}</td>
                        <td>{{t.net}}</td>
                        <td><button class="btn btn-sm btn-warning">EXIT</button></td>
                      </tr>
                    </tbody> 
                    <tfoot>
                    <!-- <tr>
                      <th>TID</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Debit</th>
                      <th>Credit</th>
                      <th>Balance</th>
                    </tr> -->
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
</div>
