<body class="hold-transition">
  <div class="login-box" style="border-style: solid; border-color: lightgray">
    <div class="login-logo">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"><b>Trade</b>ME</a>
    </div>
    <div class="login-box-body">
      <form>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Recover</button>
          </div>
        </div>
      </form>
      <br>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">Back to login</a><br>
      <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="text-center">Register a new
        membership</a>
    </div>
  </div>
</body>