<!-- <body class="hold-transition">
  <div class="login-box" style="border-style: solid; border-color: lightgray"> -->
    <div class="login-logo">
      <a [routerLink]="['/']" routerLinkActive="router-link-active"><b>Trade</b>ME</a>
    </div>
    <div class="login-box-body">
      <form [formGroup]="forgotForm" (ngSubmit)="forgot()">
        <div class="form-group has-feedback" [ngClass]="emailError !== false ? 'has-error': ''">
            <input formControlName="email" type="email" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span class="help-block" *ngIf="emailError">{{emailError}}</span>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Recover</button>
          </div>
        </div>
        <div class="row" [ngClass]="isRecovered !== false ? 'has-success': ''">
          <div class="col-xs-12">
            <span class="help-block" *ngIf="isRecovered">{{isRecovered}}</span>
          </div>
        </div>
      </form>
      <!-- <br>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">Back to login</a><br>
      <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="text-center">Register a new
        membership</a> -->
    </div>
  <!-- </div>
</body> -->