<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-lg-3 col-xs-12">
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>{{totalDeposit}}<sup style="font-size: 20px"> INR</sup></h3>
              <p>Total Deposits</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12">
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{totalUsers}}</h3>
              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12">
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{openTrades}}</h3>
              <p>Open Trades</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-xs-12">
          <div class="small-box bg-red">
            <div class="inner">
                <h3>{{closedTrades}}</h3>
                <p>Closed Trades</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-xs-12 text-center">
          <div class="small-box bg-black">
            <div class="inner">
              <h3>{{totalNet | number : '1.2-2'}}<sup style="font-size: 20px"> INR</sup></h3>
              <p>Total Net</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
