<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Settings
    </h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Profile</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form [formGroup]="settingsForm" (ngSubmit)="putSettings()">
            <div class="box-body">
              <div class="form-group has-feedback" [ngClass]="mobileError !== false ? 'has-error': ''">
                <label for="mobile">Mobile number</label>  
                <input value="{{mobile}}" formControlName="mobile" type="phone" class="form-control" placeholder="Mobile" readonly>
                <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                <span class="help-block" *ngIf="mobileError">{{mobileError}}</span>
              </div>
              <div class="form-group has-feedback" [ngClass]="emailError !== false ? 'has-error': ''">
                <label for="email">Email address</label>
                <input formControlName="email" type="email" class="form-control" placeholder="Email" readonly>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span class="help-block" *ngIf="emailError">{{emailError}}</span>
              </div>
              <div class="form-group has-feedback" [ngClass]="passwordError !== false ? 'has-error': ''">
                <label for="password">Current Password</label>
                <input formControlName="password" type="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span class="help-block" *ngIf="passwordError">{{passwordError}}</span>
              </div>
              <div class="form-group has-feedback" [ngClass]="newPasswordError !== false ? 'has-error': ''">
                <label for="newPassword">New Password</label>
                <input formControlName="newPassword" type="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span class="help-block" *ngIf="newPasswordError">{{newPasswordError}}</span>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary" style="width: 100%">Update</button>
            </div>
          </form>
        </div>
        <!-- /.box-footer-->
      </div>
      <div class="col-md-3">
      </div>
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->