<!-- <body class="hold-transition">
    <div class="register-box" style="border-style: solid; border-color: lightgray"> -->
        <div class="register-logo">
            <a [routerLink]="['/']" routerLinkActive="router-link-active"><b>Trade</b>ME</a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Register a new membership</p>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="form-group has-feedback" [ngClass]="mobileError !== false ? 'has-error': ''">
                    <input formControlName="mobile" type="text" class="form-control" placeholder="Mobile">
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                    <span class="help-block" *ngIf="mobileError">{{mobileError}}</span>
                </div>
                <div class="form-group has-feedback" [ngClass]="emailError !== false ? 'has-error': ''">
                    <input formControlName="email" type="email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    <span class="help-block" *ngIf="emailError">{{emailError}}</span>
                </div>
                <div class="form-group has-feedback" [ngClass]="passwordError !== false ? 'has-error': ''">
                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <span class="help-block" *ngIf="passwordError">{{passwordError}}</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="checkbox" [ngClass]="termsError !== false ? 'has-error': ''">
                            <label>
                                <input formControlName="terms" type="checkbox"> <a> I agree to the terms</a>
                            </label>
                            <span class="help-block" *ngIf="termsError">{{termsError}}</span>
                        </div>
                    </div>
                    <div class="col-xs-12">
                            <br>    
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                </div>
            </form>
            <br>
            <!-- <a [routerLink]="['/']" routerLinkActive="router-link-active" class="text-center">I already have a
                membership</a> -->
        </div>
    <!-- </div>
</body> -->