<aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>er-Chaan</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
  
      <ul class="sidebar-menu">
        <li class="" [routerLink]="['/user/dashboard']" routerLinkActive="active" >
          <a>
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="" [routerLink]="['/user/inplay']" routerLinkActive="active" >
          <a>
            <i class="fa fa-"></i> <span>Inplay</span>
          </a>
        </li>
        <li class="" [routerLink]="['/user/accounts']" routerLinkActive="active" >
          <a>
            <i class="fa fa-"></i> <span>Accounts</span>
          </a>
        </li>
        <li class="" [routerLink]="['/user/settings']" routerLinkActive="active" >
          <a>
            <i class="fa fa-"></i> <span>Settings</span>
          </a>
        </li>
      </ul>
        
    </section>
    <!-- /.sidebar -->
  </aside>