  <div class="content-wrapper">
    <section class="content-header">
      <h1>Accounts</h1>
    </section>
    <section class="content">
      <div class="row">
          <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Payments</h3>
                </div>
                <div class="box-body">
                    <ul class="nav nav-tabs nav-justified">
                      <li [ngClass]="paymentTab == 'payIN' ? 'active': ''" (click)="togglePaymentTab('payIN')"><a>Pay IN</a></li>
                      <li [ngClass]="paymentTab == 'payOUT' ? 'active': ''" (click)="togglePaymentTab('payOUT')"><a>Pay OUT</a></li>
                    </ul>
                    <div *ngIf="paymentTab == 'payIN'">
                        <form role="form">
                          <div class="box-body">
                            <div class="form-group">
                              <label for="amount">Amount</label>
                              <input type="number" class="form-control" id="amount" placeholder="0 INR"><br>
                              <button type="submit" class="btn btn-primary" style="width: 100%">Pay IN</button>
                            </div>
                          </div>
                        </form>
                    </div>
                    <div *ngIf="paymentTab == 'payOUT'">
                        <form role="form">
                          <div class="box-body">
                            <div class="form-group">
                              <label for="amount">Amount</label>
                              <input type="number" class="form-control" id="amount" placeholder="0 INR"><br>
                              <button type="submit" class="btn btn-primary" style="width: 100%">Pay OUT</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
              </div>
          </div>

        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Transaction Book</h3>
            </div>
            <div class="box-body">
              <table id="transactionBook" class="table table-bordered table-striped" >
                <thead>
                <tr>
                  <th>TID</th>
                  <th>Description</th>
                  <th>Date</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>Balance</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>TM0010</td>
                    <td>Aug 1st 2019</td>
                    <td>opening balance</td>
                    <td>0</td>
                    <td>100</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>TM0010</td>
                    <td>Aug 1st 2019</td>
                    <td>opening balance</td>
                    <td>0</td>
                    <td>100</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>TM0010</td>
                    <td>Aug 1st 2019</td>
                    <td>opening balance</td>
                    <td>0</td>
                    <td>100</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>TM0010</td>
                    <td>Aug 1st 2019</td>
                    <td>opening balance</td>
                    <td>0</td>
                    <td>100</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>TM0010</td>
                    <td>Aug 1st 2019</td>
                    <td>opening balance</td>
                    <td>0</td>
                    <td>100</td>
                    <td>100</td>
                  </tr>
                </tbody> 
                <tfoot>
                <!-- <tr>
                  <th>TID</th>
                  <th>Description</th>
                  <th>Date</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>Balance</th>
                </tr> -->
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
